@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2
}
.bg-primary{
  background: #4f4f51;
}
.main-color{
  background: #2c2b30;
}
.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-600 w-full h-1/4
}
.mobile-nav li{
  @apply w-full h-full text-center border-b-2
}
.project-description{
  @apply absolute top-0 bottom-0 left-0 right-0 bg-primary opacity-0 duration-500 hover:opacity-100
}
.btn{
  @apply main-color px-5 py-2 font-bold duration-100 hover:border-2 border-[#ffffff] rounded
}
html{
  scroll-behavior: smooth;
}